@model string

@{ 
    ViewBag.Title = "404 Error";
    Layout = "_Layout";
}


<div>

    @Model
</div>

<a asp-action="index" asp-controller="Employee2" class="btn btn-outline-dark">Click here to navigate to the home page</a>