@{
    ViewBag.index = " view details ";

    ViewBag.Title = "Details Employee";
}



        <h3>Hello from Details View Employee</h3>


        <p id="ParaDetails">

                Bonjour : BADAH 
                <br />
                your Age is : 26
              
        </p>

@section styleDetails{
    <link href="~/Styles/Employee/StyleDetails.css"  rel="stylesheet" />
}

@section scriptDetails{
   <script>
console.log("Hello from Details");
   </script>
}

