<!DOCTYPE html>
<html>

    <head><title>Employee Page</title></head>

    <body>
        <h3>Hello from index View Employee</h3>

        @{

        }
        <p>

                Bonjour : @ViewData["MyName"]<br />
                 your Age is : @ViewData["Age"]
              
        </p>

        <p>
            @ViewBag.employee.Name
        </p>

        <p>
            @ViewBag.employee.Email
        </p>
    </body>
</html>