@using EmptyProject.Models;
@model Employee

<!DOCTYPE html>
<html>

    <head><title>Employee Page</title></head>

    <body>
        <h3>Hello from index View Employee</h3>


        <p>

                @{
                    //var result = Model + 1
                }

                email : @Model.Name
              
        </p>
    </body>
</html>