@using EmptyProject.ViewModels
@model TestViewModelEmployeeViewModels

@{
    Layout = "_Layout";
}
        

        <p id="para">
            @Model.employee.Name <br />
            @Model.cat.name
        </p>
