

@{
    ViewBag.Title = "Error Handling";
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <div class="alert alert-danger">
            Page cannot be found<br />
            @ViewBag.Message<br />
            @*@ViewBag.StackTrace <br />*@
            @ViewBag.Path <br />
        </div>
        <a class="btn btn-primary" asp-action="index" asp-controller="Employee2">index</a>
    </div>
</div>