@model int

@{ 
    ViewBag.Title = "404 Error";
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <div class="alert alert-danger">
            Employee with id = @Model cannot be found
        </div>
        <a class="btn btn-primary" asp-action="index" asp-controller="Employee2">index</a>
    </div>
</div>